{% extends 'template.html.twig' %}

{% block content %}
    {% if stores is not empty %}
        {% for store in stores %}
        <a href="/stores/{{store.getId}}"><p>{{store.getName}}</p></a>
        {% endfor %}
    {% else %}
        <p>There are no stores in database.</p>
    {% endif %}

    <form action='/add_store' method='post'>
        <label for='name'>Store Name:</label>
        <input id='name' type="text" name="name" placeholder="Enter store name here...">

        <button class="btn" type="submit" name="button">Add</button>

    </form>

    <form class="form-group" action="/stores/delete" method="post">
    <input name="_method" type="hidden" value="delete">
    <div class="btn-form">
    <button class="btn" type="submit">Delete All Stores</button>
    </div>
    </form>
{% endblock %}
{% block link%}
<li><a href="/">Home</a></li>
{% endblock %}
